* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-size: 12px;
    overflow: hidden;
}

@font-face{
    font-family: 'custom';
    src: url('../life-is-ok.otf');
}

body{
    background: #222;
}

.debug{
    position: absolute;
}